@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@800&family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    overflow-x: hidden;
    zoom: 100%;
    scroll-behavior: smooth;
}

:root {
    --primary_color: #ffffff;
    --secondary_color: #800080;
    --header_color: #333333;
    --section_color: #e8e888;
    --background_color: #333333;
    --text_color: #888888;
    --header_text: #121212;
    --balck_plus: #100f0f;
    --smoking__hot: #444444;
    --box_background: #222222;
    --linking_color: #ea3f73;
    --h3_font: 1em;
    --h3_font_weight: 700;
    --p_font: 1em;
    --p_font_weight: 300;

    
}

:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --main-color: #ea3f73;
    ---bkgrd: #121212;
    --boxbkgrd-color: #ccc;
}


.container {

}

.content_one {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_one_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
    padding: 0px 0% 0;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.482);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 95%;
    margin: 10px auto;
}

header.shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--header_text);
    border-radius: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 2%;
    left: 0;
    right: 0;
    max-width: 95%;
    margin: auto;
    animation: 1s NavHidden;
}

@keyframes NavHidden {
    0%{
        transform: translate(0, -150%);
    }
    100%{
        transform: translate(0, 0);
    }
}


.logo a {
    font-size: 1em;
    text-decoration: none;
    color: var(--primary_color);

}

nav {}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
}

nav ul li a {
    color: var(--primary_color);
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    padding: 0 0 3px 0;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
    height: 3px;
    background-color: var(--linking_color);
}

nav ul li a:hover:after {
    width: 100%;
}

.contact a {
    padding: 12px 20px;
    color: var(--primary_color);
    background-color: var(--linking_color);
    border-radius: 30px;
    text-decoration: none;
}

.content_one_sub_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0;
    background-position: center;
    height: 100%;
    background-size: cover;
}


.content_one_sub_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5));
}

.content_one_sub_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: bckgrd 10s infinite linear;
}

.content_one_sub_container_text {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.578), rgba(0, 0, 0, 0.0));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content_one_sub_container_text main {
}


@keyframes bckgrd {
    0% {
        transform: scale(1.4);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.4);
    }
}


.content_one_sub_container_text {
    text-align: center;
    width: 100%;
}

.content_one_sub_container_text h2 {
    text-align: center;
    font-size: 3em;
    color: var(--primary_color);

}

.content_two {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_two_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 7rem 5% 5rem;
}

.content_two_sub_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.content_two_sub_container_details_one {
    width: 100%;

}

.content_two_sub_container_details_one h2 {
    font-size: 2.8em;
    font-weight: 600;
    margin: 10px 0;
    width: 100%;
    max-width: 90%;
}

.content_two_sub_container_details_one h2 span {
    color: var(--linking_color);
}

.content_two_sub_container_details_one p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .2px;
    margin: 10px 0;
}

.content_two_sub_container_details_one_sub {
    padding: 2rem 0;
}

.content_two_sub_container_details_one_sub_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content_two_sub_container_details_one_sub_data img {
    width: 90px;
    height: 90px;
    object-fit: scale-down;
    margin: 0 2rem 0 0;
    filter: invert(32%) sepia(73%) saturate(2254%) hue-rotate(321deg) brightness(98%) contrast(87%);
}

.content_two_sub_container_details_one_sub_data h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 10px 0;
}

.content_two_sub_container_details_one_sub_data p {
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0;
    width: 80%;
}

.content_two_sub_container_details_one_sub_data main {
    padding: 0 0 15px 1rem;
}







.content_two_sub_container_details_two {
    width: 100%;

}

.content_two_sub_container_details_two_sub {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 55vh;
    gap: 10px;
}

.content_two_sub_container_details_two_sub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.imger {
    height: 55vh;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin: 10px 0 0;
}


.content_three {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_three_sub {
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../img/sup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.content_three_sub_container {
    justify-content: center;
    align-items: start;
    display: flex;

}

.content_three_sub_container_text {
    width: 100%;
    height: 100%;
}

.content_three_sub_container_text h2 {
    font-size: 2.5em;
    margin: 0px 0 10px;
    color: var(--primary_color);
}

.content_three_sub_container_text p {
    font-size: 1em;
    margin: 10px 0 20px;
    line-height: 1.6;
    letter-spacing: .2px;
    color: var(--primary_color);
}

.content_three_sub_container_img {
    width: 100%;
    height: 100%;
    text-align: left;
}

.content_three_sub_container_img img {
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 5px;
}

.content_three_sub_container_link_img {
    color: var(--primary_color);
    background: var(--linking_color);
    padding: 0px 5px 4px 25px;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
}


.content_three_sub_container_link_img {
    position: absolute;
    top: 5%;
    left: 0%;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--linking_color);
    animation: 2s scaling infinite;
}

.content_three_sub_container_link_img .bx {
    transform: rotate(45deg);
    color: var(--primary_color);
    font-size: 2em;
}

.content_three_sub_container_link_img .bx {
    transform: rotate(-45deg);
    color: var(--linking_color);
    font-size: 1.6em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.content_three_sub_container_link_img:hover .bx {
    animation: 3s RotatingBtn;
}

.content_two_sub_container_link {
    position: relative;
}

@keyframes RotatingBtn {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}





footer {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer_main {
    justify-content: center;
    align-items: center;
    margin: 0px auto 0;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0, 0, 0, 0.85)),url(../img/clouding.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.foot_sub {
    display: grid;
    grid-template-columns: 32% auto auto;
    justify-content: space-between;
    align-items: start;
}

.foot_sub_content_main {
    display: flex;
    gap: 10px;
    padding-bottom: 2rem;
}

.foot_sub_content_sub {

    padding-top: 2rem;
}

.foot_sub_content h2 {
    font-size: 2.3em;
    color: var(--primary-color);

}

.foot_sub_content h2 span {
    color: var(--linking_color);
}

.p_frist {
    width: 80%;
    padding: 10px 0;
}

.foot_sub_content_sub .bx {
    font-size: 1em;
    color: var(--linking_color);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--linking_color);
    margin: 0 5px;
    transition: .3s;
}

.foot_sub_content_sub .bx:hover {
    background-color: var(--linking_color);
    color: var(--primary_color);
}

.foot_sub_content h3 {
    font-size: 1.3em;
    color: var(--primary-color);
    margin-bottom: 2.3rem;
}

.foot_sub_content ul {
 
}

.foot_sub_content ul li {
    list-style: none;
    margin: 10px 10px;
}

.foot_sub_content ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1em;
    transition: .3s;
}

.foot_sub_content ul li a:hover {
    color: var(--linking_color);
}

.foot_sub_content p {
    color: var(--primary-color);
    margin: 5px 0 5px;
}

.foot_two {
    border-top: 1px solid rgba(128, 128, 128, 0.545);
    padding: 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_two p {
    font-size: 1em;
    color: var(--primary-color);
}

.foot_two p span {
    color: var(--linking_color);
}