@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


body,
html {
    overflow-x: hidden;
    zoom: 100%;
    scroll-behavior: smooth;
}




:root {
    --primary_color: #ffffff;
    --secondary_color: #800080;
    --header_color: #333333;
    --section_color: #e8e888;
    --background_color: #333333;
    --text_color: #888888;
    --header_text: #000000;
    --black_plus: #100f0f;
    --smoking__hot: #444444;
    --box_background: #222222;
    --linking_color: #ea3f73;
}



.content_one {
    justify-content: center;
    align-items: center;
    margin: auto;

}

.content_one_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/standard_quality4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.482);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 95%;
    margin: 10px auto;
}

header.shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--header_text);
    border-radius: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 2%;
    left: 0;
    right: 0;
    max-width: 95%;
    margin: auto;
    animation: 1s NavHidden;
}

@keyframes NavHidden {
    0% {
        transform: translate(0, -150%);
    }

    100% {
        transform: translate(0, 0);
    }
}


.logo a {
    font-size: 1em;
    text-decoration: none;
    color: var(--primary_color);

}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    list-style: none;
}

nav ul li a {
    color: var(--primary_color);
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
    padding: 0 0 3px 0;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: .4s;
    height: 3px;
    background-color: var(--linking_color);
}

nav ul li a:hover:after {
    width: 100%;
}

.contact a {
    padding: 13px 25px;
    color: var(--primary_color);
    background-color: var(--linking_color);
    border-radius: 30px;
    text-decoration: none;
}


.content_one_sub_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.content_one_sub_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5));
}

.content_one_sub_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: bckgrd 10s infinite linear;
}

.content_one_sub_container_text {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.578), rgba(0, 0, 0, 0.0));
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content_one_sub_container_text main {
}


@keyframes bckgrd {
    0% {
        transform: scale(1.4);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.4);
    }
}


.content_one_sub_container_text span {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--linking_color);
    line-height: 1.5;
    width: 100%;
    margin-left: 10px;
}

.content_one_sub_container_text h2 {
    font-size: 3em;
    color: var(--primary_color);
    font-weight: 500;
    margin: 20px auto;
    width: 100%;
    max-width: 90%;
}


.content_two {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_two_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 6rem 5% 6rem;
}

.content_two_sub_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.content_two_sub_container_text1 {
    width: 95%;
}

.content_two_sub_container_text1 h2 {
    font-size: 4em;
    margin: 10px 0;
}

.content_two_sub_container_text1 h2 span {
    color: var(--linking_color);
}

.content_two_sub_container_text1 p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.2px;
    margin: 10px 0;
}

.content_three_sub_container_link_img {
    color: var(--primary_color);
    background: var(--linking_color);
    padding: 0px 5px 4px 25px;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
}


.content_three_sub_container_link_img {
    position: absolute;
    top: 5%;
    left: 0%;
    padding: 10px;
    border-radius: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--linking_color);
    animation: 2s scaling infinite;
}

.content_three_sub_container_link_img .bx {
    transform: rotate(45deg);
    color: var(--primary_color);
    font-size: 2em;
}

.content_three_sub_container_link_img .bx {
    transform: rotate(-45deg);
    color: var(--linking_color);
    font-size: 1.6em;
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--primary_color);
}

.content_three_sub_container_link_img:hover .bx {
    animation: 3s RotatingBtn;
}

.content_two_sub_container_link {
    position: relative;
}

@keyframes RotatingBtn {
    0% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}


.content_two_sub_container_text2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.content_two_sub_container_text2_details {
    box-shadow: 0 0 20px rgba(165, 164, 164, 0.308);
    padding: 10px;
    border-radius: 5px;
}

.content_two_sub_container_text2_details_img {
    width: 70px;
}

.content_two_sub_container_text2_details_img img {
    width: 100%;
}

.content_two_sub_container_text2 h3 {
    font-size: 1em;
    font-weight: 700;
    color: var(--linking_color);
    margin: 10px 0;
}

.content_two_sub_container_text2 p {
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0 3rem;
    line-height: 1.6;
    letter-spacing: .2px;
}




.content_three {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_three_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background-color: var(--header_text);
}

.content_three_sub_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content_three_sub_container_text {
    width: 95%;
    height: 100%;
}

.content_three_sub_container_text h2 {
    font-size: 2.7em;
    margin: 10px 0 3rem;
    color: var(--primary_color);
    text-transform: capitalize;
}

.content_three_sub_container_text h2 span {
    color: var(--linking_color);
}


.content_three_sub_container_text p {
    font-size: 1em;
    color: var(--primary_color);
    margin: 20px 0 10px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .2px;
}


.content_three_sub_container_img {
    width: 100%;
    height: 100%;
}

.content_three_sub_container_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}




.content_four {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_four_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;

}

.content_four_sub_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    align-items: start;
}

.content_four_sub_container_text {
    width: 95%;
    height: 100%;
}

.content_four_sub_container_details {
    padding-bottom: 3rem;
}

.content_four_sub_container_details h2 {
    font-size: 3em;
    margin: 10px 0 1rem;
    color: var(--header_text);
    text-transform: capitalize;
}

.content_four_sub_container_details h2 span {
    color: var(--linking_color);
}


.content_four_sub_container_details .p_text {
    font-size: 1.2em;
    color: var(--header_text);
    margin: 20px 0 10px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .2px;
}

.content_four_sub_container_details_img {
    width: 100%;
    height: 60vh;
}

.content_four_sub_container_details_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.content_four_sub_container_details_text {

position: relative;
    padding: 10px;
}

.content_four_sub_container_details_text h3 {
    font-size: 1em;
    font-weight: 700;
    margin: 10px 0;
    color: var(--linking_color);

}

.content_four_sub_container_details_text p {
    font-size: 1em;
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.6;
    letter-spacing: .2px;
}




.content_six {
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--header_text);
}

.content_six_sub {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem 0 4rem;
    background: linear-gradient(rgba(0, 0, 0, 0.213), rgba(0, 0, 0, 0.205)), url(../img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.content_six_sub .head h2 {
    font-size: 3.5rem;
}

.content_six_sub_container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    padding: 5rem 0 4rem;
    position: relative;
}

.content_six_sub_container_details {
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.Slider {
    width: 100%;
}

.swiper-wrapper .swiper-slide {
    width: 100%;
    height: 50vh;
    border-radius: 30px;
    padding: 2rem px;
    margin: auto;
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #bcbcbc;
    padding: 25px;
    border-radius: 100px;
    font-size: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 10px;
    font-weight: 600;
    padding: 20px;
    color: #313030;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 8px;
}

.content_six_sub_container_img img:nth-child(1) {
    width: 80px;
    height: 80px;
    border-radius: 70px;
    position: absolute;
    top: 30px;
    left: 24%;
    object-fit: cover;
}

.content_six_sub_container_img img:nth-child(2) {
    width: 50px;
    height: 50px;
    border-radius: 70px;
    position: absolute;
    top: 55%;
    left: 12%;
    object-fit: cover;
}

.content_six_sub_container_img img:nth-child(3) {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
    top: 90%;
    left: 29%;
    object-fit: cover;
}

.content_six_sub_container_img img:nth-child(4) {
    width: 80px;
    height: 80px;
    border-radius: 70px;
    position: absolute;
    top: 18%;
    right: 20%;
    object-fit: cover;
}

.content_six_sub_container_img img:nth-child(5) {
    width: 60px;
    height: 60px;
    border-radius: 70px;
    position: absolute;
    bottom: 18%;
    right: 15%;
    object-fit: cover;
}

.Card_Box.active {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--box_background);
    border-radius: 10px;
    padding: 5% 10px;
    display: block;
    transform: translate(0px, 0px);
    transition: all 0.9s ease;
}

.Card_Box {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: var(--box_background);
    border-radius: 10px;
    padding: 5% 10px;
    display: none;
    transform: translate(50%, 10%);
    transition: all 0.9s ease;
}

.Card_Box_Container {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    width: 100px;
    height: 100px;
}

.Card_Box_Container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.Card_Box_Container_Content {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    padding: 10px 6%;
    text-align: center;
}

.Card_Box_Container_Content h2 {
    font-size: 1.6em;
    color: var(--primary_color);
    font-weight: 700;
}

.Card_Box_Container_Content h2 span{
    font-size: 1.1em;
    color: var(--linking_color);
    font-weight: 700;
}

.Card_Box_Container_Content p{
    font-size: 1em;
    color: var(--primary_color);
    font-weight: 300;
}

.Card_Box_Container_Flex {
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 100%;
    height: auto;
    text-align: center;
}
.Card_Box_Container_Flex span{
    font-size: 1em;
    color: var(--linking_color);
    font-weight: 700;
    padding: 10px;
}

.SliderBtnContainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 555;
}

.TestimonialSliderContainer {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.SliderBtnContainer {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.SliderBtn {
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.SliderBtn .bx {
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.4em;
    font-weight: 100;
    color: var(--primary_color);
    background-color: var(--linking_color);
}

.SliderBtnRight {
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
}

.SliderBtnRight .bx {
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.4em;
    font-weight: 100;
    color: var(--primary_color);
    background-color: var(--linking_color);
}


.content_seven {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content_seven_sub {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--header_text);
    padding: 4rem 5%;
    margin: 4rem 0 0;
    position: relative;

}

.content_seven_sub_container {
    display: flex;

    gap: 30px;
    align-items: start;
    justify-content: space-between;
    position: relative;
}

.content_seven_sub_container_text h2 {
    font-size: 3em;
    color: var(--primary_color);
    text-transform: capitalize;
}

.content_seven_sub_container .content_two_sub_container_link {
    width: 35%;
}







footer {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer_main {
    justify-content: center;
    align-items: center;
    margin: 00px auto 0;
    width: 100%;
    height: 100%;
    padding: 4rem 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/clouding.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.foot_sub {
    display: grid;
    grid-template-columns: 32% auto auto;
    justify-content: space-between;
    align-items: start;
}

.foot_sub_content_main {
    display: flex;
    gap: 10px;
    padding-bottom: 2rem;
}

.foot_sub_content_sub {

    padding-top: 2rem;
}

.foot_sub_content h2 {
    font-size: 2.3em;
    color: var(--primary_color);

}

.foot_sub_content h2 span {
    color: var(--linking_color);
}

.p_frist {
    width: 80%;
    padding: 10px 0;
}

.foot_sub_content_sub .bx {
    font-size: 1em;
    color: var(--linking_color);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--linking_color);
    margin: 0 5px;
    transition: .3s;
}

.foot_sub_content_sub .bx:hover {
    background-color: var(--linking_color);
    color: var(--primary_color);
}

.foot_sub_content h3 {
    font-size: 1.3em;
    color: var(--primary_color);
    margin-bottom: 2.3rem;
}

.foot_sub_content ul {}

.foot_sub_content ul li {
    list-style: none;
    margin: 10px 10px;
}

.foot_sub_content ul li a {
    text-decoration: none;
    color: var(--primary_color);
    font-size: 1em;
    transition: .3s;
}

.foot_sub_content ul li a:hover {
    color: var(--linking_color);
}

.foot_sub_content p {
    color: var(--primary_color);
    margin: 5px 0 5px;
}

.foot_two {
    border-top: 1px solid rgba(128, 128, 128, 0.545);
    padding: 2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_two p {
    font-size: 1em;
    color: var(--primary_color);
}

.foot_two p span {
    color: var(--linking_color);
}